# Configuration fo the eInk Display
display:
  # [Bool] Generates a PNG instead of outcoming through the eInk Display
  mock: False
  # [Bool] Do a full clear while initializing
  # KEEP AS TRUE. Seems like the eInk needs a full Clear on init to be able to show afterwards.
  initial_clear: True
  # Size of the display
  size:
    x: 250
    y: 122
  # [bool] Rotate the display 180 degrees or not. This only affects the eInk, not mocked.
  rotate: True
  # Configuration regarding the fonts
  fonts:
    big: 22
    medium: 14
    small: 10
    huge: 40