# Configuration for the GPIO support
gpio:
  # [Bool] Simply ignores GPIO hardware and returns mock values
  mock: True
  # Defined buttons
  buttons:
    - name: yellow
      pin: 16
      mocked_as: "tab"
    - name: green
      pin: 26
      mocked_as: "enter"
    - name: blue
      pin: 5
      mocked_as: "space"

temperature:
  # [Bool] Simply ignores temperature sensor hardware and returns mock values
  mock: True

humidity:
  # [Bool] Simply ignores humidity sensor hardware and returns mock values
  mock: True

air_pressure:
  # [Bool] Simply ignores air pressure sensor hardware and returns mock values
  mock: True

accelerometer:
  # [Bool] Simply ignores accelerometer hardware and returns mock values
  mock: True

gps:
  # [Bool] Simply ignores GPS hardware and returns mock values
  mock: True